<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Belly Button Bacteria!!!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <div class = "container">
        <div class = "jumbotron">
            <h1> Belly Button BioDiversity!!!</h1>
            <p> Use the interactive charts below to explore the dataset</p>
        </div>
    </div>   
<hr>
    <div class = "col-md-12"> 
        <div class = "col-md-3">
            <h3> SELECT Sample:</h3>
<!--  
            <select id="selDataset" on change="optionChanged(this.value)">
                
            </select>
-->
        </div>
        <div class = "col-md-5" id = "pie"></div>
    </div>
    
    

 <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    
    

</body>

</html>
